In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Shows all columns in dataframe
pd.set_option('display.max_columns', None)

In [3]:
df_info = pd.ExcelFile("./consumption_monthly_NM_220921.xlsx")
df_sheetnames = df_info.sheet_names
df_sheetnames

['2001-2006_FINAL',
 '2007-2011_FINAL',
 '2012_Final',
 '2013_Final',
 '2014_Final',
 '2015_Final',
 '2016_Final',
 '2017_Final',
 '2018_Final',
 '2019_Final',
 '2020_Final',
 '2021_Preliminary',
 '2022_Preliminary',
 'EnergySource_Notes',
 'NM Notes',
 'Headers']

In [4]:
df_sheetnames[1]

'2007-2011_FINAL'

In [5]:
df_dict = {}
for sheet in df_sheetnames:
    df_dict[sheet] = pd.read_excel("./consumption_monthly_NM_220921.xlsx", sheet_name = sheet)

In [6]:
df_dict['2007-2011_FINAL']

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION
0,2007,1,AK,Total Electric Power Industry,Coal (Short Tons),45277.00
1,2007,1,AK,Total Electric Power Industry,Petroleum (Barrels),131715.00
2,2007,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3928812.00
3,2007,1,AK,"Electric Generators, Electric Utilities",Coal (Short Tons),17695.00
4,2007,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),111483.00
...,...,...,...,...,...,...
47457,2011,12,WY,"Electric Generators, Independent Power Producers",Natural Gas (Mcf),8096.00
47458,2011,12,WY,Total Electric Power Industry,Coal (Short Tons),2596524.00
47459,2011,12,WY,Total Electric Power Industry,Natural Gas (Mcf),304415.00
47460,2011,12,WY,Total Electric Power Industry,Other Gases (Billion Btu),172.16
47461,2011,12,WY,Total Electric Power Industry,Petroleum (Barrels),6687.00

In [7]:
df_dict[df_sheetnames[1]]["STATE"]

0        AK
1        AK
2        AK
3        AK
4        AK
         ..
47457    WY
47458    WY
47459    WY
47460    WY
47461    WY
Name: STATE, Length: 47462, dtype: object

In [8]:
df_dict[df_sheetnames[1]].loc[df_dict[df_sheetnames[1]]["STATE"] == "MD"]

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION
296,2007,1,MD,Total Electric Power Industry,Coal (Short Tons),1095532.00
297,2007,1,MD,Total Electric Power Industry,Petroleum (Barrels),107089.00
298,2007,1,MD,Total Electric Power Industry,Natural Gas (Mcf),659234.00
299,2007,1,MD,Total Electric Power Industry,Other Gases (Billion BTU),356.46
300,2007,1,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),2669.00
...,...,...,...,...,...,...
41793,2011,12,MD,"Electric Generators, Independent Power Producers",Petroleum (Barrels),45889.00
41794,2011,12,MD,Total Electric Power Industry,Coal (Short Tons),553983.00
41795,2011,12,MD,Total Electric Power Industry,Natural Gas (Mcf),816158.00
41796,2011,12,MD,Total Electric Power Industry,Other Gases (Billion Btu),153.78
41797,2011,12,MD,Total Electric Power Industry,Petroleum (Barrels),47947.00

In [9]:
sheet = '2007-2011_FINAL'
df_dict[sheet].loc[df_dict[sheet]["STATE"] == "MD"]

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE (UNITS),CONSUMPTION
296,2007,1,MD,Total Electric Power Industry,Coal (Short Tons),1095532.00
297,2007,1,MD,Total Electric Power Industry,Petroleum (Barrels),107089.00
298,2007,1,MD,Total Electric Power Industry,Natural Gas (Mcf),659234.00
299,2007,1,MD,Total Electric Power Industry,Other Gases (Billion BTU),356.46
300,2007,1,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),2669.00
...,...,...,...,...,...,...
41793,2011,12,MD,"Electric Generators, Independent Power Producers",Petroleum (Barrels),45889.00
41794,2011,12,MD,Total Electric Power Industry,Coal (Short Tons),553983.00
41795,2011,12,MD,Total Electric Power Industry,Natural Gas (Mcf),816158.00
41796,2011,12,MD,Total Electric Power Industry,Other Gases (Billion Btu),153.78
41797,2011,12,MD,Total Electric Power Industry,Petroleum (Barrels),47947.00

In [10]:
df_md = pd.DataFrame()
df_md

Empty DataFrame
Columns: []
Index: []

In [11]:
for sheet in df_sheetnames:
    if sheet[0:2] == '20':
        print(sheet)
        df_md = df_dict[sheet].loc[df_dict[sheet]["STATE"] == "MD"]

2001-2006_FINAL
2007-2011_FINAL
2012_Final
2013_Final
2014_Final
2015_Final
2016_Final
2017_Final
2018_Final
2019_Final
2020_Final
2021_Preliminary
2022_Preliminary

In [12]:
df_md

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
279,2022,1,MD,Total Electric Power Industry,Coal (Short Tons),456613
280,2022,1,MD,Total Electric Power Industry,Natural Gas (Mcf),5578513
281,2022,1,MD,Total Electric Power Industry,Petroleum (Barrels),44009
282,2022,1,MD,"Combined Heat and Power, Industrial Power",Natural Gas (Mcf),17224
283,2022,1,MD,"Combined Heat and Power, Industrial Power",Petroleum (Barrels),0
...,...,...,...,...,...,...
4110,2022,6,MD,"Electric Generators, Independent Power Producers",Coal (Short Tons),143592
4111,2022,6,MD,"Electric Generators, Independent Power Producers",Natural Gas (Mcf),7236472
4112,2022,6,MD,"Electric Generators, Independent Power Producers",Petroleum (Barrels),34075
4113,2022,6,MD,"Electric Generators, Electric Utilities",Natural Gas (Mcf),3125789
4114,2022,6,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),598

In [13]:
!pwd

/c/Users/NM/Documents/2_Training/Practice

In [1]:
idmy = 0

In [2]:
idmy

0